// variables
$base-font: Verdana;
$navbar-background-color: #FFFFFF;
$site-logo-color: #335576;
$nav-active-page-underline: #DB7A4E;
$footer-background-color: #FEFAF5;
$footer-titles-text-color: #335576;
$footer-subtitles: #DB7A4E;
