@use './partials/global' as *;

.hero {
    background-color: $hero-background-color;
    display: flex;
    justify-content: space-around;
    height: 60vh;
    align-items: center;
    padding-top:60px;
    

    &__article {
        width: 500px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__slogan {
        color: $site-logo-color;
    }

    &__text {
        color: $site-logo-color;
        text-align: left;
        width: 500px;
    }

    &__button {
        background-color: $button-background-color;
        border: none;
        border-radius: 20px;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            color: #FFFF;
            padding: 0rem 1.5rem;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
    
        img {
        width: 500px;      
        }
    }
}

.recommendations {
    
    &__title {
        color: $footer-titles-text-color;
        padding: 2rem 0 0 125px;
    }

    &__card {
        display: flex;
        height: 500px;
        justify-content: center;
        align-items: center;
        margin-top: -30px;

        &--hawaii {
            @include recommendations-card;
            background-image: url(../assets/images/hawaii.jpg);
        }

        &--iceland {
            @include recommendations-card;
            margin: 0 4rem;
            background-image: url(../assets/images/iceland.jpg);
        }

        &--greece {
            @include recommendations-card;
            background-image: url(../assets/images/greece.jpg);  
        }
    }
}

