// variables
$base-font: Verdana;
$navbar-background-color: #FFFFFF;
$site-logo-color: #335576;
$nav-active-page-underline: #DB7A4E;
$hero-background-color: #FEFAF5;
$footer-titles-text-color: #335576;
$footer-subtitles: #DB7A4E;
$button-background-color: #DB7A4E;

// resets
* {
    font-family: $base-font;
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
    color: $footer-titles-text-color;
}

h6 {
    font-size: 0.5rem;
}

p, a {
    font-size: 0.75rem;
    text-decoration: none;
}

// mixins 
@mixin recommendations-card {
    display: flex;
    height: 400px;
    width: 300px;
    background-size: cover;
    justify-content: end;
    align-items: end;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.200);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.200);

    h2 {
        color: white;
        padding: 0.75rem;
    }
}